<div class="form-group__input input-group">
    <input type="text" class="form-control" [(ngModel)]=query (keyup)=filterList() placeholder="Recipient's username" aria-describedby="basic-addon1">
    <span class="input-group-addon" (click)="showDropdown()">
        <i class="fa fa-search" aria-hidden="true"></i>
    </span>
</div>
<div class="suggestions" *ngIf="filteredList.length > 0">
    <ul>
        <li *ngFor="let item of filteredList" (click)="selectItem(item)" >
                {{item.name}}
                <br>
                <span>{{item.insurance}}</span>
        </li>
    </ul>
</div>
