<div class="jumbotron text-center">
  <h1>MEAN</h1>
  <p class="lead">Welcome</p>
  <div>
    <a [routerLink]="['/register']" class="btn btn-primary">Register</a>
    <a [routerLink]="['/login']" class="btn btn-default">Login</a>
  </div>
</div>
<div class="row">
    <div class="col-md-4">
      <h3>Express Backend</h3>
      <p>Blah</p>
    </div>
    <div class="col-md-4">
      <h3>Express Backend</h3>
      <p>Blah</p>
    </div>
    <div class="col-md-4">
      <h3>Express Backend</h3>
      <p>Blah</p>
    </div>
</div>
