<nav class="navbar navbar-default">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="nav navbar-nav navbar-left">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
          <a [routerLink]="['/']">Home</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
          <a [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()"  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
          <a [routerLink]="['/profile']">Profile</a>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
          <a [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact: true}">
          <a [routerLink]="['/register']">Register</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()" >
          <a hef="#" (click)="onLogoutClick()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
