<h2 class="page-header">Добавить Врача</h2>
<form (submit)="onDoctorSubmit()">
  <div class="form-group">
    <label for="">ФИО</label>
    <input type="text" class="form-control" [(ngModel)]="fio" name="fio">
  </div>
  <div class="form-group">
    <label for="">Специализация</label>
    <input type="text" class="form-control" [(ngModel)]="specializaton" name="specializaton">
  </div>
  <div class="form-group">
    <label for="">Подразделение</label>
    <input type="text" class="form-control" [(ngModel)]="facility" name="facility">
  </div>
  <div class="form-group">
    <label for="">Начало рабочего дня</label>
    <input type="text" class="form-control" [(ngModel)]="start" name="start">
  </div>
  <div class="form-group">
    <label for="">Конец рабочего дня</label>
    <input type="text" class="form-control" [(ngModel)]="finish" name="finish">
  </div>
  <div class="form-group">
    <label for="">Промежутки</label>
    <input type="text" class="form-control" [(ngModel)]="step" name="step">
  </div>
  <!--<div class="form-group">-->
    <!--<label for="">Промежутки</label>-->
    <!--<input type="password" class="form-control" [(ngModel)]="step" name="step">-->
    <!--<label for="">Промежутки</label>-->
    <!--<input type="password" class="form-control" [(ngModel)]="step" name="step">-->
  <!--</div>-->
  <input type="submit" class="btn btn-primary" value="Добавить">
</form>
